body {
    display:flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin:0;
}

.header {
    display:flex;
    background-color: rgb(29, 83, 163);
    justify-content: center;
    padding-left:10px;
}

.header h1 {
    color:#F9FAF8;
    
}

.scores {
    display:flex;
    justify-content: space-around;
}

.container {
    display:flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
}

.choiceBtn {
    padding:20px 10px 20px 10px;
    margin:10px;
}

#results {
    margin:30px;
    text-align:center;
}